.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logobox{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        padding: 2rem 1rem 1rem 1rem;
        
    }
    nav{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li:not(:last-child){
                color: white;
                margin-right: 2rem;
            }
            .navbutton{
                border: 2px solid transparent;
                outline: none;
                border-radius: 1rem;
                width: 8rem;
                text-align: center;
            }
        }
    }
}