.herosection{
    background-image: url('../media/Rectangle 1036@2x.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(27,126,227);
    .container{
        margin: 0rem 5rem;
        .layout{
            display: flex;
            align-items: flex-start;
            .textbox{
                padding-top: 5rem;
                h1{
                    font-family: Inter;
                    font-size: 44px;
                    font-weight: 600;
                    line-height: 54px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: white;
                }
                p{
                    font-family: Proxima Nova;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: white;
                }
                // h1{
                //     // position: absolute;
                //     width: 502px;
                //     height: 166px;
                //     left: 152px;
                //     top: 227px;
                    
                //     font-family: 'Inter';
                //     font-style: normal;
                //     font-weight: 600;
                //     font-size: 44.2667px;
                //     line-height: 123%;
                //     /* or 54px */
                    
                //     display: flex;
                //     align-items: center;
                //     text-transform: capitalize;
                    
                //     color: #FFFFFF;                
                // }
                // p{
                //     // position: absolute;
                //     width: 436.89px;
                //     height: 88px;
                //     left: 152px;
                //     top: 423px;
                    
                //     font-family: 'Proxima Nova';
                //     font-style: normal;
                //     font-weight: 400;
                //     font-size: 16px;
                //     line-height: 140%;
                //     /* or 22px */
                    
                    
                //     color: #F5FAFF;
                    
                // }
            }

            .storelablesbox{
                // border-top-left-radius: 20px;
                // border-top-right-radius: 20px;
                padding: 2rem;
                // position: absolute;
                width: 402px;
                height: 153px;
                // left: 405px;
                // top: 619px;
                position: absolute;
                right: 559px;
                top: 608px;
                background: #FFFFFF;
                box-shadow: 0px 3.26198px 30px rgba(0, 0, 0, 0.1);
                border-radius: 22.8338px;
                span{
                    // position: absolute;
                    // width: 390.85px;
                    // height: 19.92px;
                    // left: 405px;
                    // top: 647.91px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    /* or 21px */

                    text-align: center;

                    color: #73818F;
                }
                .storelables{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }   
}
    