@media(max-width : 425px){
.container{
 margin: 2rem;   
}
    /* ************ Header section starts here ********************/
.header-section{
    margin-bottom: 3rem;
}
/* *************** Hero section starts here ***********************/
.herosection{
    background-image: url('../pages/src/media/mobile/Rectangle\ 1036.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(27,126,227);
    border-bottom-right-radius: 50% 64%;
}
.hero-textbox{
    padding: 1rem;
}
.hero-textbox>h1{
    font-size: 28px;
}
.hero-lablebox{
    padding: 2rem;
    position: relative;
    left: 0;
    top: 0;
    background: #FFFFFF;
    width: fit-content;
}
.hero-lablebox>span{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #73818F;
    margin-bottom: 1rem;
}
/* ********* features section start here ****************/
.topbox{
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    text-align: center;
  }
.topbox>h3{
font-weight: 500;
font-size: 14px;
line-height: 34px;
text-align: center;
letter-spacing: 4px;
text-transform: uppercase;
color: #1c7ee2;
}
.topbox>h2{
font-size: 28px;
}
.topbox>p{
width: fit-content;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* text-align: center; */
color: #31383f;
}
.cardgrid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

/* ************ options section starts here ****************/
.amentiesTextbox,.optionsTextbox{
    border-radius: 2rem;
    width: fit-content;
    width: 23rem;
    padding: 38px 60px 41px 50px;;
}
.amentiesTextbox>h6,.optionsTextbox>h6{
    font-size: 14px;
}
.amentiesTextbox>h3,.optionsTextbox>h3{
    font-size: 28px;
}
.amentiesTextbox{
    position: relative;
    left: 0px;
    background: white;
    z-index: 22;
}
.optionsTextbox{
    position: relative;
    right: 0px;
    background: white;
    z-index: 22;
  }
/* ******* frequently asked section **************/

.frequently-textbox{
    text-align: center;
    /* width: 32rem; */
    width: 20rem;
    margin: auto;
    left: 0;
    right: 0;
}

/* *********** Download section starts here *****************/

.download-section{
    background-image: url('../pages/src/media/mobile/bg.png');
    margin-left: 0rem;
    margin-bottom: 3rem;
    border-bottom-left-radius: 0% 2%;
    padding: 2rem;
  }
  .downloadtextbox>h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
    color: #fff;
    margin-top: 25%;
    width: 60%;
    text-align: inherit;
    margin-left: 26%;
  }
  .imgbox{
    margin-bottom: 17rem;
  }
/* ********* Footer section ***********/
.footer-text{
    display: block;
}
.footer-logo{
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
}
}